body,
html {
    background-color: rgb(1, 1, 25);
    color: white;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
}

.searchbar {
    padding: 14px, 14px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    background: white;

    width: 100%;
    margin-top: 10px;
}

.searchbar input {
    font-size: 16px;
    color: black;
    margin-left: 28px;

    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.searchbar button {
    color: white;
    background-color: blue;
    padding: 14px 28px;
    border: 0px;
    border-radius: 28px;
    cursor: pointer;
    margin: 0;
}

#Btn-Container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: auto;
}

.filter_button {
    color: rgb(1, 1, 25);
    background-color: white;
    padding: 10px;
    border: 0px;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

.filter_button:hover {
    color: white;
    background-color: gray;
    padding: 10px;
    border: 0px;
    border-radius: 15px;
}

.active {
    background-color: gray;
}

.active:hover {
    color: black;
    background-color: gray;
}

.start-button {
    color: rgb(1, 1, 25);
    background-color: white;
    padding: 10px;
    border: 0px;
    border-radius: 15px;
    width: 50vw;
    cursor: pointer;
}

.start_link {
    display: flex;
    justify-content: center;
    cursor: pointer;
}



#cards-featured-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.featured-card {
    height: 300px;
    width: 200px;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 15px;
}

.featured-card img {
    height: 70%;
    width: 100%;
    object-fit: contain;
}

.search-result {
    background-color: darkgray;
    color: white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
}



.overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 25, 0.95);
    transform: translateX(-100vw);
}

.overlay-slide-right {
    transition: all 0.2s ease-in-out;
    transform: translateX(0);
}

.overlay-slide-left {
    transition: all 0.4s ease-in-out;
    transform: translateX(-100vw);
}

.detail p {
    margin-left: 10px;
    margin-top: 5px;
}

.detail img {
    float: right;
}

#hide-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#home-link {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
}

@media only screen and (max-width: 450px) {
    .featured-card {
        height: 200px;
        width: 100px;
        background-color: white;
        color: black;
        cursor: pointer;
        border-radius: 15px;
    }
}